.pastwork .slick-track {
  overflow: visible;
}

.pastwork .slick-prev {
  left: -50px;
  width: 50px;
  height: 50px;
}
.pastwork .slick-prev::before {
  content: '\e900';
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 50px;
}

.pastwork .slick-next {
  width: 50px;
  height: 50px;
  right: -50px;
  text-align: right;
}

.pastwork .slick-next::before {
  content: '\e901';
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 50px;
}

.pastwork .slick-list .slick-track {
  overflow: visible;
}
.pastwork .slick-list .slick-slide {
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.pastwork .slick-list .slick-slide::hover {
  z-index: 99 !important;
  position: relative;
}
